body {
  width: 75vw;
  margin: 12px auto;
  font-family: "Kumbh Sans";
}

nav {
  display: flex;
  align-items: center;
  border-bottom: 3px solid;
  padding-bottom: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-inline-end: 35px;
}

nav li a {
  color: grey;
  text-decoration: none;
}

nav div {
  margin-left: 10px;
}

.right-area {
  display: flex;
  align-items: center;
  position: absolute;
  right: 13%;
}

.cart {
  margin-inline-end: 20px;
}

.profile {
  height: 45px;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: auto;
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}

.img img {
  margin-left: -20px;
}

.left,
.right {
  margin: 30px;
}

.right {
  width: 95%;
  height: 100%;
}

.right h3 {
    margin-bottom: -19px;
    color: hsl(26, 100%, 55%);
}

.right h1 {
  font-size: 45px;
}

.right p {
    line-height: 2rem;
}

.image,
.image img {
  height: 500px;
  border-radius: 15px;
}

.image-icons {
  display: flex;
  margin-top: 10px;
  max-width: 100%;
}

.icon {
  height: 100px;
  width: 25%;
  margin: 5px;
  border-radius: 15px;
}

.icon img {
  height: 100px;
  width: 100%;
  border-radius: 13px;
}

.icon.active {
  position: relative;
  border: 2px solid hsl(26, 100%, 55%);
}

.icon.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    185,
    185,
    185,
    0.7
  ); /* Example overlay background color with transparency */
  z-index: 1;
  border-radius: 15px;
}

.discount {
  display: flex;
  align-items: center;
  margin-bottom: -40px;
}

.discount p {
  margin-inline-end: 7px;
}

.percentage {
  padding: 1.5px 5px;
  border-radius: 5px;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-weight: 700;
}

.add {
  display: flex;
  align-items: center;
}

.amount-buttons {
  display: flex;
}

.minus {
  margin-right: -1px;
}

.add-btn {
  margin-left: -1px;
}

.minus, .add-btn {
  margin-top: 20px;
}

.amount {
  font-size: 25px;
  width: 55px;
  text-align: center;
  background-color: #e6e6e6;
  padding: 3px 10px;
}

.add button {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: hsl(26, 100%, 55%);
  box-shadow: 0 10px 35px 5px hsla(26, 100%, 55%, .4);
  color: white;
  font-size: 15px;
  margin-left: auto;
  margin-right: 20px;
}

.add button:hover {
  cursor: pointer;
}

.subtract {
    padding: 17px 10px;
    margin-top: 5px;
    background-color: #e6e6e6;
}

#add {
  padding: 13px;
  margin-top: 5px;
  background-color: #e6e6e6;
}

.subtract, #add {
  cursor: pointer;
}

/* @media screen and ( max-width: 912px) {
  nav {
    width: auto;
    border: none;
    margin-left: -0px;
  }

  nav ul {
    margin-left: -120px;
  }

  .logo {
    position: relative;
    left: -90px;
  }

  .right-area {
    left: 860px;
  }

  main {
    flex-direction: column;
    width: 990px;
    margin-left: 25px;
  }

  .subtract {
    width: 35px;
    background-color: white;
    margin-inline-end: 85px;
  }

  .minus {
    margin-top: 25px;
  }

  #add {
    width: 30px;
    background-color: white;
    margin-inline-start: 85px;
  }

  .amount {
    height: 35px;
    margin-top: 35px;
    background-color: white;
  }

  .add button {
    width: 450px;
    height: 75px;
    font-size: 25px;
  }
}

@media screen and ( max-width: 820px) {
  main {
    width: 1000px;
    margin-left: 80px;
    margin-top: 80px;
  }

  nav {
    border: none;
    width: 100vw;
  }

  nav ul {
    margin-left: -100px;
  }

  .logo {
    position: relative;
    left: -80px;
  }

  .right-area {
    right: -130px;
  }

  .attribution {
    display: none;
  }
}

@media screen and ( max-width: 768px) {
  .right-area {
    left: 790px;
  }

  main {
    width: 920px;
  }

  .left {
    margin-top: 150px;
  }
}

@media screen and ( max-width: 540px) {
  .logo {
    left: -50px;
  }

  nav ul {
    margin-left: -80px;
  }

  .right-area {
    left: 780px;
  }

  main {
    width: 900px;
    margin-left: 170px;
    border: 1px solid;
  }

  .left {
    margin-top: 420px;
  }
} */

@media screen and ( max-width: 414px) {
  html, body {
    width: 100vw;
    overflow-x: hidden;
  }

  nav {
    padding: 0;
    width: 100vw;
    height: 70px;
    z-index: 0;
  }

  nav ul {
    display: none;
  }

  main {
    width: 100vw;
    margin-left: -0px;
    margin-top: 230px;
    flex-direction: column;
  }

  .menu {
    display: inline-block;
    position: absolute;
    left: 32px;
    top: 25px;
    width: 22px;
  }

  .logo {
    position: absolute;
    left: 60px;
    top: 24px;
    z-index: 1;
  }

  .right-area {
    left: 310px;
    top: 12px;
  }

  .left {
    position: relative;
    top: -65px;
    width: 100vw;
    overflow-x: hidden;
  }

  .image, .image img {
    width: 100vw;
    border-radius: 0;
  }

  .right {
    max-width: 100vw;
    margin: 10px;
    margin-top: -80px;
  }

  .image-icons {
    max-width: 100vw;
    width: 100%;
    position: relative;
    left: -3px;
    margin: 0;
  }

  .icon, .icon img {
    height: 85px;
  }

  .original {
    position: relative;
    top: -38px;
    left: 305px;
    overflow-x: hidden;
    width: 80px;
    text-align: right;
  }

  .add {
    flex-direction: column;
    margin-top: -30px;
  }

  .amount-buttons {
    display: flex;
  }

  .minus {
    margin-top: 20px;
    margin-inline-end: 100px;
  }

  .add-btn {
    margin-top: 25px;
    margin-inline-start: 100px;
  }

  .subtract, .amount {
    background-color: white;
  }

  .subtract {
    height: 6px;
  }

  #add {
    background-color: white;
    height: 20px;
    margin-top: -4px;
  }

  .add button {
    max-width: 100vw;
    width: 100%;
    height: 60px;
    margin-left: 15px;
    overflow-x: hidden;
  }

  .attribution {
    display: none;
  }
}

@media screen and ( max-width: 412px) {
  main {
    width: 100vw;
    margin: 0;
    left: 206px;
    top: 690px;
  }

  nav {
    height: 35px;
    border: none;
  }

  .right-area {
    left: 300px;
    width: 100px;
    overflow-x: hidden;
  }

  .left {
    top: -80px;
  }

  .image-icons {
    width: 500px;
    left: 0px;
  }

  .minus {
    margin-inline-end: 30px;
  }

  .subtract {
    height: 7px;
    width: 20px;
    margin-top: 5px;
  }

  #add{
    margin-inline-start: -50px;
    margin-top: -3px;
    height: 20px;
    width: 20px;
  }

  .add button {
    margin-left: px;
  }
}

@media screen and ( max-width: 393px) {
  .right-area {
    left: 290px;
  }

  main {
    margin-top: -50px;
    left: 195px;
    width: 100vw;
  }

  .left {
    top: -10px;
    left: 0;
    width: 100vw;
    padding: 0;
  }

  .right {
    margin-top: -40px;
  }

  .original {
    left: 280px;
  }
}

@media screen and (max-width: 375px) {
  .right-area {
    left: 270px;
  }

  main {
    width: 100vw !important;
    margin-left: -5px;
  }

  .left {
    top: -75px;
    left: -3px;
  }

  .right {
    margin-top: -70px;
  }

  .image,
  .image img {
    height: 375px;
    width: 100vw;
  }
}

@media screen and ( max-width: 360px) {
  .right-area {
    left: 250px;
    width: 100px;
    overflow-x: hidden;
  }

  main {
    width: 355px;
    margin: 0;
    left: 175px;
    margin-top: -200px;
    border: 1px solid;
  }

  .left {
    width: 100vw;
    top: 205px;
    left: 0px;
  }

  .image, .image img {
    height: 350px;
    width: 100vw;
    margin: 0;
  }

  .right {
    margin-top: 170px;
  }

  .original {
    left: 260px;
  }

  .image-icons {
    width: 100vw;
  }

  .minus {
    margin-inline-end: -50px;
  }

  .subtract {
    height: 7px;
    width: 20px;
    margin-top: 15px;
  }

  #add{
    margin-inline-start: -50px;
    margin-top: 7px;
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 281px) {
  .profile, .cart {
    position: relative;
    left: 35px;
  }

  .right-area {
    width: 120px;
  }

  main {
    width: 100vw !important;
    margin-top: -135px;
  }

  .left {
    position: relative;
    width: 460px;
    top: 140px;
    left: 5px;
    margin-left: calc(50% - 50vw);
  }

  .image, .image img{
    height: 350px;
    width: 100%;
    left: 10px;
  }

  .right {
    width: auto !important;
    max-width: 430px;
    margin-left: 20px;
    margin-top: 120px;
  }

  body .image-icons {
    width: auto !important;
    max-width: 377px;
    padding: 0;
    left: 73px;
  }

  .icon, .icon img{
    height: 70px;
  }
}